.image1{
    margin:auto;
    margin-left: 350px;
}
.image2{
    margin:auto;
    margin-left: 400px;
}
.image3{
    margin:auto;
    margin-left: 350px;
}
.image4{
    margin:auto;
    margin-left: 375px;
}
.image5{
    margin:auto;
    margin-left: 350px;
}
.image6{
    margin:auto;
    margin-left: 350px;
}
.image7{
    margin:auto;
    margin-left: 375px;
}
.image8     {
    margin:auto;
    margin-left: 350px;
}


header h2{
    text-align: center;
    padding: 20x;
    font-size: 75px;
}