section{
    align-items: center;
}

.execom_images1{
    margin-left: 450px;
}
.execom_images2{
    margin-left: 525px;
}
.execom_images3{
    margin-left: 650px;
}
.execom_images4{
    margin-left: 500px;
}
.execom_images5{
    margin-left: 575px;
}
.execom_images6{
    margin-left: 525px;
}